.footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27, 27, 27);
}

.footer__title {
    font-size: 24px;
    color: white;
}

.footer__text {
    font-size: 18px;
    color: white;
}