<header class="header">
    <h2 class="title">Header title</h2>
    <p class="header__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint iure
        assumenda enim consequuntur beatae eos eaque. Voluptatum sequi qui
        illum? Sequi, aspernatur illo accusamus animi doloribus quam blanditiis
        voluptatibus recusandae? Beatae, quo fugiat officia placeat delectus cum
        optio accusantium aspernatur et repudiandae excepturi non, deserunt
        quidem impedit recusandae a corrupti provident alias. Rem adipisci eum
        impedit quasi dolorum tenetur quibusdam.
    </p>
</header>
